.dropdown {
  position: relative;
  display: inline-block;
  :first-child {
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    background-color: var(--grey-color-light);
  }
  &:hover, &:focus-within {
    .dropdown-content {
      display: block;
      line-height: initial;
      * {
	    padding: 10px;
        min-width: available;
        min-width: -moz-available;
	    white-space: nowrap;
	    display: inline-block;
      }
      *:hover {
        background-color: rgba(211, 211, 211, 0.2);
      }
    }
  }
}
